body {
    background: rgb(200, 200, 200);
    color: rgb(50, 50, 50);
    font-family: 'Courier', sans-serif;
}

table {
    height: 40%;
    left: 10%;
    margin: 10px auto;
    overflow-y: scroll;
    position: static;
    width: 100%;
}

thead th {
    background: #545454;
    color: rgb(200, 200, 200);
    font-family: 'Courier', sans-serif;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
}

tr {
    background: rgb(230, 230, 230);
    color: #545454;
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;
}

th, td {
    font-family: 'Courier', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
    text-align: left;
    width: 33.3333%;
}